{% extends 'base/base.html' %}
{% load static %}

{% block extrahead %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"/>
    <script src="{% static 'src/js/general.js' %}"></script>
    <script src="{% static 'src/js/activity.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Charlas y Talleres
                </div>
                <div id="div_for_alert"></div>

                <div class="card-body" id="card_id">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal"
                          id="edit_capacity_form">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="activity">Escoger</label>
                            <div class="col-md-9">
                                <select name="id" class="form-control"
                                        id="id_tabs" data-parsley-multiple="tabs">
                                    <option disabled selected value> --</option>
                                    {% for activity in activities %}
                                        <option value="{{ activity.id }}" data-ca="{{ activity.capacidadActual }}"
                                                data-ct="{{ activity.capacidadTotal }}"
                                                data-ch="{{ activity.charlista }}"
                                                data-me="{{ activity.monitor.nombre }}"
                                                {% if activity.id == -1 %}selected="true"
                                                disabled="disabled"{% endif %}>{{ activity.nombre }} {{ activity.horario }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group row" id="ch_div" hidden>
                            <label class="col-md-3 col-form-label" for="text-input">Presentador</label>
                            <div class="col-md-9 col-form-label" id="ch_value"></div>
                        </div>

                        <div class="form-group row" id="ct_div" hidden>
                            <label class="col-md-3 col-form-label" for="text-input">Capacidad</label>
                            <div class="col-md-9 col-form-label" id="ct_value"></div>
                        </div>
                        <input hidden id="ct_hi_value"/>

                        <div class="form-group row" id="ca_div" hidden>
                            <label class="col-md-3 col-form-label" for="text-input">Ocupación</label>

                            <div class="col-md-9">
                                <input type="number" class="form-control" name="capacidadActual" id="ca_value">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-primary"
                            onclick="return edit_activity_capacity()">
                        <i class="fa fa-dot-circle-o"></i> Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrascript %}
    <script type="text/javascript">
        $("#id_tabs").on('change', function () {
            var charlista = $(this).find(':selected').data("ch");
            if (charlista == null || charlista == 'None') {
                $("#ch_div").attr("hidden", true);
            } else {
                $("#ch_div").attr("hidden", false);
                $("#ch_value").text(charlista);
            }
            $("#ct_div").attr("hidden", false);
            $("#ca_div").attr("hidden", false);
            $("#ct_value").text($(this).find(':selected').data("ct"));
            $("#ct_hi_value").val($(this).find(':selected').data("ct"));
            $("#ca_value").val($(this).find(':selected').data("ca"));
        });
    </script>
{% endblock %}