{% extends 'base/base.html' %}
{% load static %}
{% load staticfiles %}


{# END OF CONTENT #}
{% block extrahead %}

    <link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">
    <script src="{% static 'fullcalendar/jquery.min.js' %}"></script>
    <script src="{% static 'fullcalendar/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
    <script src='{% static 'fullcalendar/es.js' %}'></script>
    <!--<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>-->
{% endblock %}

{% block extrascript %}

    <link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">
    <script src="{% static 'fullcalendar/jquery.min.js' %}"></script>
    <script src="{% static 'fullcalendar/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
    <script src='{% static 'fullcalendar/es.js' %}'></script>
    <script src='{% static 'src/js/espacio.js' %}'></script>
    <!--<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>-->

{% endblock %}

{% block content %}
    <script>
        $(function () {
            $('#calendar').fullCalendar({
                eventClick: function (eventObj) {
                    alert('Monitor: ' + eventObj['title'] + '\n Contacto: ' + eventObj['contacto']);
                },
                defaultDate: '2018-10-18',
                nowIndicator: 'true',
                defaultView: 'agendaDay',
                events: {{ events|safe }}
            });
        });
    </script>
    <div class="row">
        <div class="col-md-12">
            {% include 'card/espacio_calendar.html' %}
        </div>
    </div>

{% endblock content %}