{% extends 'base/base_login.html' %}
{% load static %}

{% block main_card %}
    <h1>Inicio de sesión</h1>
    <p class="text-muted">Entra con tu cuenta</p>
    <form role="form" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group mb-3">
            <input class="form-control {% if error_login %}is-invalid{% endif %}" type="text" placeholder="Usuario"
                   name="username">
        </div>

        <div class="form-group">
            <input class="form-control {% if error_login %}is-invalid{% endif %}" type="password" placeholder="Contraseña"
                   name="password">
            {% if error_login %}
                <label class="invalid-feedback">{{ error_login|escape }}</label>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-dark px-4" type="submit">Entrar</button>
            </div>
            <div class="col-6 text-right">
                <a href="{% url 'password_reset' %}" class="btn btn-link px-0">Contraseña?</a>
            </div>
        </div>
    </form>
{% endblock %}