{% extends 'base/base.html' %}
{% load static %}

{% block extrahead %}
    <script src="{% static 'src/js/general.js' %}"></script>
    <script>
        function myFunctionTest(){
            console.log("trying to change icon.");
            elem = document.getElementById("load_button");
            elem.innerHTML = "<i class='fa fa-circle-o-notch fa-spin'></i> Creando tours";
            elem.classList.add("disabled");
            console.log("end function")
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div id="ui-view">
            <div>
                <div class="animated fadeIn">
                    <div class="row">
                    {% if user.is_monitor_stand %}
                        <div class="col-sm-12 col-l-6">
                            {% include 'card/pide_un_tour.html' %}
                        </div>
                    {% endif %}
                        <div class="col-sm-12 col-xl-6">
                            {% include 'card/charlas.html' %}
                        </div>
                        <div class="col-sm-12 col-xl-6 ml-auto">
                            {% include 'card/talleres.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}