{% extends 'base/base.html' %}
{% load static %}
{% load staticfiles %}

{% block extrahead %}
    <link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">
    <script src="{% static 'fullcalendar/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
    <script src='{% static 'fullcalendar/es.js' %}'></script>
    <!--<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>-->
{% endblock %}

{% block extrascript %}
    <link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">
    <script src="{% static 'fullcalendar/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.js' %}"></script>
    <script src='{% static 'fullcalendar/es.js' %}'></script>
    <script src='{% static 'src/js/espacio.js' %}'></script>
    <!--<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>-->
{% endblock %}

{% block content %}
    <script>
        $(function () {
            for (i = 1; i <= 1; i++) {
                $('#calendar' + i.toString()).fullCalendar({
                    timezone: 'America/Santiago',
                    defaultDate: '2018-10-18',
                    columnHeader: 'false',
                    aspectRatio: 0,
                    minTime: "{{startTime |safe}}",
                    maxTime: "19:00:00",
                    theme: 'bootstrap4',
                    header: 'false',
                    nowIndicator: 'true',
                    defaultView: 'agendaDay',
                    allDaySlot: false,
                    height: $(window).height() * 0.6,
                    events: {{ events|safe }}
                });
            }
        });
    </script>
    <div class="container-fluid">
        <div id="ui-view">
            <div>
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-sm-12 col-l-6">
                            <div class="card">
                                <div class="card-header">Tour Confirmado</div>
                                <div class="card-body">
                                    <h4 class="text-center">
                                        Monitor a
                                        cargo: {{ nameMonitor }}</h4>
                                    <div>
                                        <div id="calendar1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
