{% extends 'base/base_login.html' %}
{% load static %}

{% block main_card %}

    <h1>Restablecer Contraseña</h1>
    <form role="form" method="POST">
        {% csrf_token %}
        <p class="text-muted">Ingresa tu correo</p>
        <div class="form-group mb-3">
            <input class="form-control" type="text" placeholder="Email"
                   name="email">
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-dark px-4" type="submit">Enviar</button>
            </div>
        </div>
    </form>
{% endblock %}