{% autoescape off %}
Estimado Usuario:

Para iniciar el proceso de restablecimiento de contraseña para tu cuenta en el sitio del IV° Festival de Ingeniería y Ciencias, haz click en el siguiente link:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si el link no funciona, por favor copia y pega la dirección en una nueva pestaña de tu navegador.
Feliz Festival!

Saludos,
Equipo del IV° Festival de Ingeniería y Ciencias
Universidad de Chile
{% endautoescape %}