<!DOCTYPE html>
<html lang="en">

<!--Headers-->
{% include 'base/header.html' %}
<body class="app flex-row align-items-center">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            {% block main_card %}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                        <div class="card-body text-center">
                            {% block side_card %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'base/js.html' %}
</body>
</html>