{% load static %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
<meta name="author" content="Circle Fintech">
<meta name="keyword" content="">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'dist/img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'dist/img/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'dist/img/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'dist/img/favicon/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'dist/img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<title>IV° Festival Ingeniería y Ciencias</title>
<style>
    .container-fluid {
        margin-top: 24px;
    }
</style>

<!-- Icons -->
<link href="{% static 'dist/vendors/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'dist/vendors/css/simple-line-icons.min.css' %}" rel="stylesheet">

<!-- Main styles for this application -->
<link href="{% static 'dist/css/style.css' %}" rel="stylesheet">
<link href="{% static 'src/css/extra_main.css' %}" rel="stylesheet">
<script src="{% static 'dist/vendors/js/jquery.min.js' %}"></script>
