{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'principal' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'workshop' %}"><i class="icon-puzzle"></i> Talleres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'monitor' %}"><i class="fa fa-user"></i> Talleres</a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock %}
</div>