{% load static %}
<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'principal' %}"><i class="icon-home"></i> Principal</a>
        </li>
        {% if user.is_encargado_actividad %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'activities' %}"><i class="fa fa-building-o"></i> Charlas y Talleres</a>
            </li>
        {% endif %}
        {% if user.is_monitor_stand %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'monitor' %}"><i class="icon-people"></i> Monitores</a>
            </li>
        {% elif user.is_monitor_tour %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'monitor' %}"><i class="icon-people"></i> Tours</a>
            </li>
        {% endif %}
        {% if user.is_monitor_stand or user.is_encargado_espacio %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'espacio' %}"><i class="fa fa-flag-o"></i> Puntos de Tour</a>
            </li>
        {% endif %}
        {% if user.is_monitor_stand or user.is_monitor_encargado %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'espacio_master' %}"><i class="fa fa-bullseye"></i> Vista General</a>
            </li>
        {% endif %}
    </ul>
</nav>
<button class="sidebar-minimizer brand-minimizer" type="button"></button>