<div class="card">
    <div class="card-header">Charlas</div>
    <div class="card-body">
        <div class="col-md-12"><h1 class="text-left" style="margin-bottom: 0.9em; white-space: nowrap">Charlas</h1></div>
        {% for charla in charlas %}
            <div class="info-charla">
                <div class="col-md-12"><h5>{{ charla.nombre }}
                    <small class="text-muted">{{ charla.charlista }}</small></h5>
                </div>
                <div class="col-md-12"><p><i class="fa fa-map-marker" aria-hidden="true"></i>Ingresar lugar acá</p></div>
                <div class="col-md-12 add-line-bottom">
                    <p><i class="fa fa-clock-o" aria-hidden="true"></i>
                        {{ charla.horario.inicio.time }} - {{ charla.horario.fin.time }}</p>
                </div>
                <div class="col-md-12 d-flex justify-content-between">Ocupación y capacidad:
                    <div><h6 class="capacity">{{ charla.capacidadActual }} / {{ charla.capacidadTotal }}</h6></div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>