<div class="card">
    <div class="card-header">
        Visión Espacios
    </div>
    <div class="offset-md-3 col-md-6 card-body" id="card_id">
        {% if user.is_monitor_stand %}
            <h3 class="text-left">Selecciona el espacio:</h3>
            <select class="form-control"
                    id="select_espacio" data-parsley-multiple="tabs">
                <option disabled {% if not pk_espacio %}selected{% endif %}>Espacios</option>
                {% for espacio in espacios %}
                    <option value="{{ espacio.id }}"
                            {% if espacio.id == pk_espacio %}selected{% endif %}>{{ espacio.nombre }}</option>
                {% endfor %}
            </select>
        {% endif %}
        <br>
        <div class="card-body" id='calendar' style="background-color: #f0f3f5; border-radius: 0.3em;"></div>
    </div>
</div>