<div class="card">
    <div class="card-header">
        Puntos de Tour
    </div>
    <div class="card-body" id="card_id">

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="activity">Escoger Punto de Tour</label>
            <div class="col-md-9">

                <select class="form-control"
                        id="select_espacio" data-parsley-multiple="tabs">
                    <option disabled {% if not pk_espacio %}selected{% endif %}>Punto de Tour</option>
                    {% for espacio in espacios %}
                        <option value="{{ espacio.id }}"
                                {% if espacio.id == pk_espacio %}selected{% endif %}>{{ espacio.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="card-body" id='calendar' style="background-color: #f0f3f5; border-radius: 0.3em;"></div>
    </div>
</div>