<div class="card">
    <div class="card-header">
        Visión Espacios
    </div>
    <div class="card-body" id="card_id">
        {% if user.is_monitor_stand %}
            <select class="form-control"
                    id="select_espacio" data-parsley-multiple="tabs">
                <option disabled {% if not pk_espacio %}selected{% endif %}>Seleccionar Espacio</option>
                {% for espacio in espacios %}
                    <option value="{{ espacio.id }}"
                            {% if espacio.id == pk_espacio %}selected{% endif %}>{{ espacio.nombre }}</option>
                {% endfor %}
            </select>
        {% endif %}
        <br>
        <div id='calendar'></div>
    </div>
</div>