<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> Tours
    </div>
    <div class="card-body">
        <div class="jumbotron jumbotron-fluid"
             style="background-color: white; padding: 0rem 2rem;">
            <div id="div_for_alert"></div>

            <div class="container" align="center">
                <h1 class="display-3">Pide un Tour</h1>


                <div class="card-body">
                    <form action="{% url 'tour' %}" method="post"
                          enctype="multipart/form-data"
                          class="form-horizontal"
                          id="new_tour_form">
                        {% csrf_token %}

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"
                                   for="{{ tour.nombre.id_for_label }}">Nombre</label>
                            <div class="col-md-9">
                                {{ tour.nombre }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"
                                   for="{{ tour.duracion.id_for_label }}">Duración
                                (Minutos)</label>
                            <div class="col-md-9">
                                {{ tour.duracion }}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"
                                   for="{{ tour.alumnos.id_for_label }}">Cantidad
                                de Alumnos</label>
                            <div class="col-md-9">
                                {{ tour.alumnos }}
                            </div>
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-success btn-primary">
                                <i class="fa fa-dot-circle-o"></i> Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>