<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> Talleres
    </div>
    <div class="card-body">
        <div class="jumbotron jumbotron-fluid"
             style="background-color: white; padding: 1rem 2rem;">
            <div class="container">
                <h1 class="text-left" style="margin-bottom: 0.9em;">Talleres</h1>
                {% if talleres %}
                    <div class="table-wrapper-scroll-y"
                         style="display: block; max-height: 350px; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar; width: 100%">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Taller</th>
                                <th scope="col">Hora inicio</th>
                                <th scope="col">Hora término</th>
                                <th scope="col">Inscritos</th>
                                <th scope="col">Capacidad</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for taller in talleres %}
                                <tr style="text-align: center">
                                    <td class="filterable-cell">{{ taller.nombre }}</td>
                                    <td class="filterable-cell">{{ taller.horario.inicio.time }}</td>
                                    <td class="filterable-cell">{{ taller.horario.fin.time }}</td>
                                    <td class="filterable-cell">{{ taller.capacidadActual }}</td>
                                    <td class="filterable-cell">{{ taller.capacidadTotal }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                {% else %}
                    No hay talleres para mostrar
                {% endif %}
            </div>
        </div>
    </div>
</div>