<div class="card">
    <div class="card-header">Talleres</div>
    <div class="card-body">
        <div class="col-md-12"><h1 class="text-left" style="margin-bottom: 0.9em; white-space: nowrap">Talleres</h1></div>
        {% if talleres %}
            {% for taller in talleres %}
                <div class="info-charla">
                    <div class="col-md-12"><h5>{{ taller.nombre }}</h5></div>
                    <div class="col-md-12"><p><i class="fa fa-map-marker" aria-hidden="true"></i>Ingresar lugar acá</p></div>
                    <div class="col-md-12 add-line-bottom">
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i>
                            {{ taller.horario.inicio.time }} - {{ taller.horario.fin.time }}</p>
                    </div>
                    <div class="col-md-12 d-flex justify-content-between">Ocupación y capacidad:
                        <div><h6 class="capacity">{{ taller.capacidadActual }} / {{ taller.capacidadTotal }}</h6></div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
                    No hay talleres para mostrar
                {% endif %}
    </div>
</div>